.tentang-container {
    min-height: 100vh; /* Pastikan tinggi minimum 100vh */
    width: 100%; /* Pastikan lebar 100% */
    padding: 0; /* Pastikan tidak ada padding yang mempengaruhi */
    margin: 0; /* Pastikan tidak ada margin yang mempengaruhi */
    background-color: #33363d;
}
.tentang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    height: 100vh;
    scroll-snap-align: start;
}

.tentang h2 {
    font-size: 2.5em;
    color: #ffffff;
}

.tentang p {
    color:#ffffff
}

.tentang ul li {
    color:#FFFFFF;
    font-size: 2.3vh
}

.tentang ul li a {
    text-decoration: none;
    color: #ffffff;
}