/* BANNER */
#image1 {
    background-image: url(../../images/slide1.jpg);
    opacity: 1;
}
#image2 {
    background-image: url(../../images/slide2.jpg);
}
#image3 {
    background-image: url(../../images/slide3.jpg);
}
#image4 {
    background-image: url(../../images/slide4.jpg);
}
#image5 {
    background-image: url(../../images/slide5.jpg);
}
.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    text-align: left;
    background-color: rgb(37, 37, 37);
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 20%, rgb(37, 37, 37) 120%);
    z-index: 2;
    pointer-events: none;
    filter: blur(10px);
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    filter: blur(6px);
    z-index: 1;   
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 8vh;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    text-transform: capitalize;
    z-index: 3;
}
.banner-content h1 {
    font-size: 1.7em;
    margin: 0;
}
.banner-content span {
    font-size: 2.5em;
    font-weight: bolder;
}
.banner-content h2 {
    font-size: 1.5em;
    margin-top: 10px;
}
@media (max-width: 1200px) {
    .banner-content h1 {
        font-size: 1.5em;
    }
    .banner-content span {
        font-size: 2.2em;
    }
    .banner-content h2 {
        font-size: 1.3em;
    }
}
@media (max-width: 992px) {
    .banner-content h1 {
        font-size: 1.3em;
    }
    .banner-content span {
        font-size: 2em;
    }
    .banner-content h2 {
        font-size: 1.2em;
    }
}
@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 1.2em;
    }
    .banner-content span {
        font-size: 1.8em;
    }
    .banner-content h2 {
        font-size: 1.1em;
    }
}
@media (max-width: 576px) {
    .banner-content h1 {
        font-size: 1em;
    }
    .banner-content span {
        font-size: 1.5em;
    }
    .banner-content h2 {
        font-size: 1em;
    }
}

/* MAP */
.map {
    background-color: white;
    padding: 20px;
}
.map h1 {
    color: black;
    font-size: 3em;
    text-align: center; 
    margin: 2em auto 1.5em;
    position: relative;
}

.map h1::after {
    content: "";
    display: block;
    width: 50%;
    height: 4px;
    background-color: rgb(59, 53, 53);
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}
.map-container iframe {
    flex: 1 1 600px;
    max-width: 25em;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.map-content {
    flex: 1 1 400px;
    padding: 10px;
}

.map-content h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.map-content h5 {
    font-size: 1em;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 10px;
}

.map-content p {
    font-size: 1em;
    margin-bottom: 10px;
}

.map-content span {
    margin-left: 10px;
}
.map-content span a {
    text-decoration: underline;
    color: #0000FF;
}


@media (max-width: 768px) {
    .map-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .map-content {
        order: 1;
    }
    iframe {
        order: 0;
        width: calc(100% - 40px); 
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0px;
        padding: 10px;
        box-sizing: border-box;
    }
    .map-content h2 {
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    
    .map-content h5 {
        font-size: 0.9em;
        text-align: justify;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .map-content p {
        font-size: 0.95em;
        margin-bottom: 10px;
    }
}